@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.theme-text{
  color: #3D1FA8;
}

.text-6D6D6D{
  color: #6D6D6D;
}

.theme-bg{
  background-color: #3D1FA8;
}

.gradient-blue-bg{
  background: linear-gradient(180deg, rgba(61, 31, 168, 0) 0%, rgba(61, 31, 168, 0.7) 30.29%, #3D1FA8 100%);
}

@font-face {
  font-family: "Awesome Serif";
  src: url("/fonts/Awesome-Serif-VAR-VF.ttf") format("truetype");
  font-weight: 100 900; /* variable font */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CalSans";
  src: url("/fonts/CalSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Awesome Serif", serif;
}

.font-Serif {
  font-family: "Awesome Serif", serif;
}

.geist-font {
  font-family: "Geist", sans-serif;
}

.CalSans-re-font {
  font-family: "CalSans", sans-serif;
}

.Inter-re-font {
  font-family: "CalSans", sans-serif;
}

.font-350 {
  font-weight: 350;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}